@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
body {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.attribution {
  text-align: center;
  margin: 20px 0;
}
.attribution a {
  text-decoration: none;
  color: var(--clr-attribution);
}
.attribution a:hover {
  text-decoration: underline;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: auto;
  // display: grid;
  // grid-gap: 0em;
  // grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));

  .quote {
    width: 375px;
    padding: 2em;
    display: flex;
    flex-direction: column;

    p {
      margin-top: 10px;
      font-family: "Big Shoulders Display", cursive;
      font-size: 15px;
      color: hsla(0, 0%, 100%, 0.75);
    }

    span {
      font-weight: bold;
      position: relative;
      margin-top: 48px;
      color: hsl(0, 0%, 95%);
      font-family: "Lexend Deca", sans-serif;
      text-transform: uppercase;
      font-size: 35px;
    }
    img {
      margin-top: 10px;
      width: 100px;
    }
    button {
      margin-top: 62px;
      height: 40px;
      border-radius: 25px;
      font-size: 15px;
      width: 70%;
      border: none;
      font-family: "Lexend Deca", sans-serif;
    }
  }
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 10px 0 0px;
  button {
    color: hsl(31, 77%, 52%);
    &:active {
      background-color: hsl(31, 77%, 52%);
      color: white;
      border: 1px solid white;
    }
  }
}
.suvs {
  background-color: hsl(184, 100%, 22%);
  button {
    color: hsl(184, 100%, 22%);
    &:active {
      background-color: hsl(184, 100%, 22%);
      color: white;
      border: 1px solid white;
    }
  }
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0px 0 10px 10px;
  button {
    color: hsl(184, 100%, 22%);
    &:active {
      background-color: hsl(179, 100%, 13%);
      color: white;
      border: 1px solid white;
    }
  }
}

@media (min-width: 990px) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .sedans {
    border-radius: 10px 0px 0 10px;
  }
  .luxury {
    border-radius: 0px 10px 10px 0px;
  }
  .attribution {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
